# Cleaning NBA Box Score Data

In this project I am going to be importing a few different data sets around NBA box scores.  I am going to want to be narrowing this down to 2017 - 2018 and limiting it to the Portland Trail Blazers.  I will be looking at doing the following to make this data more managable.

* Import all data sets and combine them
* Remove uneeded and duplicate features and find the features that are the most useful.
* Fix Structural Errors
* Fill in missing data
* Normalize data

## 1. Import Data

The first step is going to be to import both datasets for the NBA box scores.

In [12]:
import pandas as pd
from pandas import read_csv

# Load datasets
player_box_score = '/Users/jordan.kasper/Desktop/ML_Projects/nba_box_score/playerBoxScore.csv'
team_box_score = '/Users/jordan.kasper/Desktop/ML_Projects/nba_box_score/teamBoxScore.csv'

player_dataset = read_csv(player_box_score)
team_dataset = read_csv(team_box_score)

## 2. Reviewing the Data

After importing the data we are going to take a quick look at the raw data to see what we are dealing with.

In [42]:
# looking at the size of the data

print(player_dataset.shape)
print(team_dataset.shape)

(26109, 51)
(2460, 123)

In [13]:
# reviewing the column headers

print(player_dataset.columns.values)
print(team_dataset.columns.values)

['gmDate' 'gmTime' 'seasTyp' 'playLNm' 'playFNm' 'teamAbbr' 'teamConf'
 'teamDiv' 'teamLoc' 'teamRslt' 'teamDayOff' 'offLNm1' 'offFNm1' 'offLNm2'
 'offFNm2' 'offLNm3' 'offFNm3' 'playDispNm' 'playStat' 'playMin' 'playPos'
 'playHeight' 'playWeight' 'playBDate' 'playPTS' 'playAST' 'playTO'
 'playSTL' 'playBLK' 'playPF' 'playFGA' 'playFGM' 'playFG%' 'play2PA'
 'play2PM' 'play2P%' 'play3PA' 'play3PM' 'play3P%' 'playFTA' 'playFTM'
 'playFT%' 'playORB' 'playDRB' 'playTRB' 'opptAbbr' 'opptConf' 'opptDiv'
 'opptLoc' 'opptRslt' 'opptDayOff']
['gmDate' 'gmTime' 'seasTyp' 'offLNm1' 'offFNm1' 'offLNm2' 'offFNm2'
 'offLNm3' 'offFNm3' 'teamAbbr' 'teamConf' 'teamDiv' 'teamLoc' 'teamRslt'
 'teamMin' 'teamDayOff' 'teamPTS' 'teamAST' 'teamTO' 'teamSTL' 'teamBLK'
 'teamPF' 'teamFGA' 'teamFGM' 'teamFG%' 'team2PA' 'team2PM' 'team2P%'
 'team3PA' 'team3PM' 'team3P%' 'teamFTA' 'teamFTM' 'teamFT%' 'teamORB'
 'teamDRB' 'teamTRB' 'teamPTS1' 'teamPTS2' 'teamPTS3' 'teamPTS4'
 'teamPTS5' 'teamPTS6' 'teamPTS7' 'teamPTS8' 'teamTREB%' 'teamASST%'
 'teamTS%' 'teamEFG%' 'teamOREB%' 'teamDREB%' 'teamTO%' 'teamSTL%'
 'teamBLK%' 'teamBLKR' 'teamPPS' 'teamFIC' 'teamFIC40' 'teamOrtg'
 'teamDrtg' 'teamEDiff' 'teamPlay%' 'teamAR' 'teamAST/TO' 'teamSTL/TO'
 'opptAbbr' 'opptConf' 'opptDiv' 'opptLoc' 'opptRslt' 'opptMin'
 'opptDayOff' 'opptPTS' 'opptAST' 'opptTO' 'opptSTL' 'opptBLK' 'opptPF'
 'opptFGA' 'opptFGM' 'opptFG%' 'oppt2PA' 'oppt2PM' 'oppt2P%' 'oppt3PA'
 'oppt3PM' 'oppt3P%' 'opptFTA' 'opptFTM' 'opptFT%' 'opptORB' 'opptDRB'
 'opptTRB' 'opptPTS1' 'opptPTS2' 'opptPTS3' 'opptPTS4' 'opptPTS5'
 'opptPTS6' 'opptPTS7' 'opptPTS8' 'opptTREB%' 'opptASST%' 'opptTS%'
 'opptEFG%' 'opptOREB%' 'opptDREB%' 'opptTO%' 'opptSTL%' 'opptBLK%'
 'opptBLKR' 'opptPPS' 'opptFIC' 'opptFIC40' 'opptOrtg' 'opptDrtg'
 'opptEDiff' 'opptPlay%' 'opptAR' 'opptAST/TO' 'opptSTL/TO' 'poss' 'pace']

## 3. Merging the Data

In [14]:
# Merge datasets

df = pd.merge(player_dataset,team_dataset)

In [15]:
print(df.columns.values)

['gmDate' 'gmTime' 'seasTyp' 'playLNm' 'playFNm' 'teamAbbr' 'teamConf'
 'teamDiv' 'teamLoc' 'teamRslt' 'teamDayOff' 'offLNm1' 'offFNm1' 'offLNm2'
 'offFNm2' 'offLNm3' 'offFNm3' 'playDispNm' 'playStat' 'playMin' 'playPos'
 'playHeight' 'playWeight' 'playBDate' 'playPTS' 'playAST' 'playTO'
 'playSTL' 'playBLK' 'playPF' 'playFGA' 'playFGM' 'playFG%' 'play2PA'
 'play2PM' 'play2P%' 'play3PA' 'play3PM' 'play3P%' 'playFTA' 'playFTM'
 'playFT%' 'playORB' 'playDRB' 'playTRB' 'opptAbbr' 'opptConf' 'opptDiv'
 'opptLoc' 'opptRslt' 'opptDayOff' 'teamMin' 'teamPTS' 'teamAST' 'teamTO'
 'teamSTL' 'teamBLK' 'teamPF' 'teamFGA' 'teamFGM' 'teamFG%' 'team2PA'
 'team2PM' 'team2P%' 'team3PA' 'team3PM' 'team3P%' 'teamFTA' 'teamFTM'
 'teamFT%' 'teamORB' 'teamDRB' 'teamTRB' 'teamPTS1' 'teamPTS2' 'teamPTS3'
 'teamPTS4' 'teamPTS5' 'teamPTS6' 'teamPTS7' 'teamPTS8' 'teamTREB%'
 'teamASST%' 'teamTS%' 'teamEFG%' 'teamOREB%' 'teamDREB%' 'teamTO%'
 'teamSTL%' 'teamBLK%' 'teamBLKR' 'teamPPS' 'teamFIC' 'teamFIC40'
 'teamOrtg' 'teamDrtg' 'teamEDiff' 'teamPlay%' 'teamAR' 'teamAST/TO'
 'teamSTL/TO' 'opptMin' 'opptPTS' 'opptAST' 'opptTO' 'opptSTL' 'opptBLK'
 'opptPF' 'opptFGA' 'opptFGM' 'opptFG%' 'oppt2PA' 'oppt2PM' 'oppt2P%'
 'oppt3PA' 'oppt3PM' 'oppt3P%' 'opptFTA' 'opptFTM' 'opptFT%' 'opptORB'
 'opptDRB' 'opptTRB' 'opptPTS1' 'opptPTS2' 'opptPTS3' 'opptPTS4'
 'opptPTS5' 'opptPTS6' 'opptPTS7' 'opptPTS8' 'opptTREB%' 'opptASST%'
 'opptTS%' 'opptEFG%' 'opptOREB%' 'opptDREB%' 'opptTO%' 'opptSTL%'
 'opptBLK%' 'opptBLKR' 'opptPPS' 'opptFIC' 'opptFIC40' 'opptOrtg'
 'opptDrtg' 'opptEDiff' 'opptPlay%' 'opptAR' 'opptAST/TO' 'opptSTL/TO'
 'poss' 'pace']

## 3. Feature Selection

Here we will remove any columns that we do not need to help solve our question.  We will also remove any rows that do not deal with Portland's players.

In [17]:
# removing teams that are not Portland

por_df = df.loc[df['teamAbbr'] == 'POR']

In [18]:
# reviewing the new shape

print(por_df.shape)

(876, 153)

In [19]:
por_df.head()

,gmDate,gmTime,seasTyp,playLNm,playFNm,teamAbbr,teamConf,teamDiv,teamLoc,teamRslt,...,opptFIC40,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace
227,2017-10-18,10:00,Regular,Lillard,Damian,POR,West,Northwest,Away,Win,...,24.6888,76.2205,124.3598,-48.1393,0.2947,8.1354,0.625,56.25,99.7107,98.8866
228,2017-10-18,10:00,Regular,Aminu,Al-Farouq,POR,West,Northwest,Away,Win,...,24.6888,76.2205,124.3598,-48.1393,0.2947,8.1354,0.625,56.25,99.7107,98.8866
229,2017-10-18,10:00,Regular,Harkless,Maurice,POR,West,Northwest,Away,Win,...,24.6888,76.2205,124.3598,-48.1393,0.2947,8.1354,0.625,56.25,99.7107,98.8866
230,2017-10-18,10:00,Regular,Turner,Evan,POR,West,Northwest,Away,Win,...,24.6888,76.2205,124.3598,-48.1393,0.2947,8.1354,0.625,56.25,99.7107,98.8866
231,2017-10-18,10:00,Regular,Nurkic,Jusuf,POR,West,Northwest,Away,Win,...,24.6888,76.2205,124.3598,-48.1393,0.2947,8.1354,0.625,56.25,99.7107,98.8866

Now that we have cleaned up the non Portland teams we are going to remove the following columns that dont deal with Portland's usable features

In [29]:
port_df = por_df.drop(['gmTime','playFNm','playDispNm', 'seasTyp', 'teamConf','teamDiv','teamLoc','teamDayOff',
             'offLNm1','offFNm1','offLNm2','offFNm2','offLNm3','offFNm3',
             'playHeight','playWeight','playBDate','opptAbbr','opptDiv',
             'opptConf','opptLoc','opptRslt','opptDayOff','opptMin',
             'opptPTS','opptAST','opptTO','opptSTL','opptBLK','opptPF',
             'opptFGA','opptFGM','opptFG%','oppt2PA','oppt2PM','oppt2P%',
             'oppt3PA','oppt3PM','oppt3P%','opptFTA','opptFTM','opptFT%',
            'opptORB','opptDRB','opptTRB','opptPTS1','opptPTS2','opptPTS3',
            'opptPTS4','opptPTS5','opptPTS6','opptPTS7','opptPTS8','opptTREB%',
            'opptASST%','opptTS%','opptEFG%','opptOREB%','opptDREB%','opptTO%',
            'opptSTL%','opptBLK%','opptBLKR','opptPPS','opptFIC','opptFIC40','opptOrtg',
            'opptDrtg','opptEDiff','opptPlay%','opptAR','opptAST/TO','opptSTL/TO','opptSTL/TO',
            'poss','pace'], axis=1)

In [30]:
# reviewing the change in shape and the columns that are left

print(port_df.shape)
print(port_df.columns.values)
port_df.head()

(876, 78)
['gmDate' 'playLNm' 'teamAbbr' 'teamRslt' 'playStat' 'playMin' 'playPos'
 'playPTS' 'playAST' 'playTO' 'playSTL' 'playBLK' 'playPF' 'playFGA'
 'playFGM' 'playFG%' 'play2PA' 'play2PM' 'play2P%' 'play3PA' 'play3PM'
 'play3P%' 'playFTA' 'playFTM' 'playFT%' 'playORB' 'playDRB' 'playTRB'
 'teamMin' 'teamPTS' 'teamAST' 'teamTO' 'teamSTL' 'teamBLK' 'teamPF'
 'teamFGA' 'teamFGM' 'teamFG%' 'team2PA' 'team2PM' 'team2P%' 'team3PA'
 'team3PM' 'team3P%' 'teamFTA' 'teamFTM' 'teamFT%' 'teamORB' 'teamDRB'
 'teamTRB' 'teamPTS1' 'teamPTS2' 'teamPTS3' 'teamPTS4' 'teamPTS5'
 'teamPTS6' 'teamPTS7' 'teamPTS8' 'teamTREB%' 'teamASST%' 'teamTS%'
 'teamEFG%' 'teamOREB%' 'teamDREB%' 'teamTO%' 'teamSTL%' 'teamBLK%'
 'teamBLKR' 'teamPPS' 'teamFIC' 'teamFIC40' 'teamOrtg' 'teamDrtg'
 'teamEDiff' 'teamPlay%' 'teamAR' 'teamAST/TO' 'teamSTL/TO']

,gmDate,playLNm,teamAbbr,teamRslt,playStat,playMin,playPos,playPTS,playAST,playTO,...,teamPPS,teamFIC,teamFIC40,teamOrtg,teamDrtg,teamEDiff,teamPlay%,teamAR,teamAST/TO,teamSTL/TO
227,2017-10-18,Lillard,POR,Win,Starter,30,PG,27,5,0,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
228,2017-10-18,Aminu,POR,Win,Starter,28,SF,5,2,1,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
229,2017-10-18,Harkless,POR,Win,Starter,26,SF,8,2,2,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
230,2017-10-18,Turner,POR,Win,Starter,25,SG,12,3,2,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
231,2017-10-18,Nurkic,POR,Win,Starter,23,C,11,1,5,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444

## 4. Checking for Null Data

In [24]:
# checking what rows have null info

null_data = port_df[port_df.isnull().any(axis=1)]

In [25]:
print(null_data)

Empty DataFrame
Columns: [gmDate, playLNm, playFNm, teamAbbr, teamRslt, playDispNm, playStat, playMin, playPos, playPTS, playAST, playTO, playSTL, playBLK, playPF, playFGA, playFGM, playFG%, play2PA, play2PM, play2P%, play3PA, play3PM, play3P%, playFTA, playFTM, playFT%, playORB, playDRB, playTRB, teamMin, teamPTS, teamAST, teamTO, teamSTL, teamBLK, teamPF, teamFGA, teamFGM, teamFG%, team2PA, team2PM, team2P%, team3PA, team3PM, team3P%, teamFTA, teamFTM, teamFT%, teamORB, teamDRB, teamTRB, teamPTS1, teamPTS2, teamPTS3, teamPTS4, teamPTS5, teamPTS6, teamPTS7, teamPTS8, teamTREB%, teamASST%, teamTS%, teamEFG%, teamOREB%, teamDREB%, teamTO%, teamSTL%, teamBLK%, teamBLKR, teamPPS, teamFIC, teamFIC40, teamOrtg, teamDrtg, teamEDiff, teamPlay%, teamAR, teamAST/TO, teamSTL/TO]
Index: []

[0 rows x 80 columns]

## 5. Verifying Data

Now that we have the features selected and missing data handled we are going to review the data we have now to make sure it looks acurate.

In [23]:
# Taking a look at total number of games and players that played

print(port_df.groupby('gmDate').size())

gmDate
2017-10-18    11
2017-10-20    12
2017-10-21     9
2017-10-24    11
2017-10-26    10
2017-10-28     9
2017-10-30    10
2017-11-01     9
2017-11-02    10
2017-11-05     9
2017-11-07     9
2017-11-10    10
2017-11-13    12
2017-11-15    10
2017-11-17    12
2017-11-18    13
2017-11-20    10
2017-11-22    13
2017-11-24    10
2017-11-25    10
2017-11-27    10
2017-11-30    13
2017-12-02    11
2017-12-05    12
2017-12-09    10
2017-12-11    11
2017-12-13    11
2017-12-15    10
2017-12-16    10
2017-12-18     9
              ..
2018-02-04     9
2018-02-05    13
2018-02-08    11
2018-02-09    13
2018-02-11    12
2018-02-14    10
2018-02-23    10
2018-02-24    10
2018-02-27    13
2018-03-01    10
2018-03-03    10
2018-03-05    10
2018-03-06    12
2018-03-09    12
2018-03-12    11
2018-03-15    10
2018-03-17    11
2018-03-18    13
2018-03-20    10
2018-03-23     9
2018-03-25    10
2018-03-27    10
2018-03-28     9
2018-03-30    12
2018-04-01    12
2018-04-03    10
2018-04-05    12
2018-04-07    10
2018-04-09    11
2018-04-11    12
Length: 82, dtype: int64

In [34]:
port_df.loc[df['gmDate'] == '2017-10-18']

,gmDate,playLNm,teamAbbr,teamRslt,playStat,playMin,playPos,playPTS,playAST,playTO,...,teamPPS,teamFIC,teamFIC40,teamOrtg,teamDrtg,teamEDiff,teamPlay%,teamAR,teamAST/TO,teamSTL/TO
227,2017-10-18,Lillard,POR,Win,Starter,30,PG,27,5,0,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
228,2017-10-18,Aminu,POR,Win,Starter,28,SF,5,2,1,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
229,2017-10-18,Harkless,POR,Win,Starter,26,SF,8,2,2,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
230,2017-10-18,Turner,POR,Win,Starter,25,SG,12,3,2,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
231,2017-10-18,Nurkic,POR,Win,Starter,23,C,11,1,5,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
232,2017-10-18,Connaughton,POR,Win,Bench,32,SG,24,2,1,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
233,2017-10-18,Napier,POR,Win,Bench,23,PG,10,3,1,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
234,2017-10-18,Swanigan,POR,Win,Bench,18,PF,8,3,2,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
235,2017-10-18,Davis,POR,Win,Bench,14,PF,10,0,1,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
236,2017-10-18,Layman,POR,Win,Bench,12,F,3,1,0,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444
237,2017-10-18,Leonard,POR,Win,Bench,11,PF,6,0,1,...,1.3778,101.5,83.8843,124.3598,76.2205,48.1393,0.4731,15.4581,1.2222,44.4444

The above box score looks good, now that things have been cleaned up we will start to look at visualizing the data to get a better understanding of it.